/CrazyAuction/nbproject/private/
/CrazyAuction/CrazyAuction-ejb/nbproject/private/
/CrazyAuction/CrazyAuctionClient/nbproject/private/
/CrazyAuction/CrazyAuctionLibrary/nbproject/private/
/CrazyAuction/AdministrationClient/nbproject/private/
/CrazyAuction/CrazyAuction-ejb/build/
/CrazyAuction/CrazyAuction-ejb/dist/
/CrazyAuction/AdministrationClient/build/
/CrazyAuction/AdministrationClient/dist/