/CrazyAuction/nbproject/private/
/CrazyAuction/CrazyAuction-ejb/nbproject/private/
/CrazyAuction/CrazyAuctionClient/nbproject/private/
/CrazyAuction/CrazyAuctionLibrary/nbproject/private/
/CrazyAuction/AdministrationClient/nbproject/private/
/CrazyAuction/CrazyAuction-ejb/build/
/CrazyAuction/CrazyAuction-ejb/dist/
/CrazyAuction/AdministrationClient/build/
/CrazyAuction/AdministrationClient/dist/
/CrazyAuction/CrazyAuctionLibrary/build/
/CrazyAuction/build/
/CrazyAuction/CrazyAuctionLibrary/dist/
/CrazyAuction/dist/
/CrazyAuction/AuctionClient/nbproject/private/
/CrazyAuction/AuctionClient/build/
/CrazyAuction/AuctionClient/dist/
/CrazyAuction/OASAuctionClient/nbproject/private/
/CrazyAuction/OASAuctionClient/dist/
/CrazyAuction/OASAuctionClient/build/
/CrazyAuction/ProxyClient/nbproject/private/
/CrazyAuction/ProxyClient/build/
/CrazyAuction/ProxyClient/dist/